body{
    background-image: url("https://luckydesignlady.files.wordpress.com/2014/09/finalprettypattern.png");
    
} 

h1{
    font-family: 'Lobster', cursive;
    
}

.container{
   text-align:center;
   font-family: 'Bree Serif', serif;
   
  
   
}

button, #start {
    background-color:lightblue;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }